{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<div class="container" style="display: flex;
flex-wrap: wrap;
align-items: center;
column-gap: 123px;
row-gap: 15px;">
{% for listing, current_bid in listings_with_bids %}
<div class="card" style="width: 18rem;">
    <img src="{% if listing.url %}{{ listing.url }}{% else %}https://thumb.ac-illust.com/b1/b170870007dfa419295d949814474ab2_t.jpeg{% endif %}" class="card-img-top" alt="IMAGE NOT FOUND">
    <div class="card-body">
        <h5 class="card-title">Title: {{ listing.title }}</h5>
        <h6 class="card-title">Price: {{ current_bid }}</h6>
        <h6 class="card-title">{% if listing.is_active %}ACTIVE{% else %}CLOSED{% endif %} </h6>
        <p class="card-text">{{ listing.desc }}</p>
        <a href="{% url 'listing' listing.pk %}" class="btn btn-primary">Details</a>
    </div>
</div>
{% endfor %}
    </div>

{% endblock %}